.editorContainer {
    height: 100%;
    user-select: none;
    .header {
        z-index: 9999;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 35px;
        box-sizing: border-box;
        background: #000;
        padding: 5px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        i {
            color: #fff;
            float: left;
            vertical-align: middle;
            padding: 5px;
            cursor: pointer;
        }
        p {
            font-size: 20px;
            color: #fff;
            text-align: center;
        }
    }
    main {
        height: calc(100% - 100px);
        form {
            height: 100%
        }
        .titleInput {
            appearance: none;
            border: none;
            border-bottom: 1px solid #999;
            height: 30px;
            width: calc(100% - 70px);
            padding-left: 10px;
        }
        label {
            padding-bottom: 5px;
            padding-left: 15px;
        }
        input[type=radio], input[type=checkbox] {
            cursor: pointer;
        }
        .fileds {
            display: block;
        }
        .checkLabel {
            cursor: pointer;
        }
        .submitButton {
            float: right;
            font-size: 16px;
            padding: 5px 15px;
            margin: 15px;
            margin-top: 0;
            border-radius: 5px;
            outline: none;
            background-color: #269f42;
            background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
            cursor: pointer;
            color: #fff;
            &:hover {
                background-color: #2b9444;
                background-image: linear-gradient(-180deg,#3fb65b,#2b9444 90%);
            }
        }
    }
    .editorContent {
        height: calc(100% - 160px);
        padding: 15px;
        padding-top: 0;
        margin-bottom: 20px;
    }
    footer {
        border-top: 1px solid rgb(243, 243, 243);
        text-align: center;
        padding: 10px;
    }
}
