.container {
    margin: 0 auto;
    .header {
        background: #fff;
        z-index: 9999;
        overflow: hidden;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        .top {
            overflow: hidden;
            height: 45px;
            * {
                float: left;
            }
            >img {
                height: 35px;
                width: 35px;
                margin-left: 20px;
                margin-top: 5px;
                margin-right: 10px;
            }
            .right  {
                i:global(.fa.fa-pencil-square-o) {
                    font-size: 24px;
                    padding: 10px;
                    cursor: pointer;
                    padding-left: 20px
                }
                float: right;
                a {
                    text-decoration: none;
                    color: rgb(9, 119, 245);
                    float: left;
                    margin: 10px;
                    cursor: pointer;
                }
                span {
                    text-decoration: none;
                    color: rgb(9, 119, 245);
                    float: left;
                    margin: 10px;
                    cursor: pointer;
                }
                input[type=search] {
                    appearance: none;
                    float: left;
                    box-sizing: border-box;
                    height: 25px;
                    margin: 10px;
                    border: 1px solid #eee;
                    outline: none;
                    border-radius: 6px;
                    padding: 5px;
                }
            }
        }
        nav {
            width: 800px;
            margin: 0 auto;
            overflow: hidden;
            line-height: 30px;
            height: 30px;
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: absolute;
                background: #aaa;
                left: 0;
                top: 45px;
            }
            &::before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: absolute;
                background: #aaa;
                left: 0;
                top: 74px;
            }
        }
    }
    
    .articlesContainer {
        padding: 10px 0;
        width: 800px;
        margin: 0 auto;
        margin-top: 75px;
    }

    .createCommentAvatar {
        height: 35px;
        width: 35px;
        display: block;
        border-radius: 5px;
        float: left;
        overflow: hidden;
        margin: 5px;
        margin-bottom: 0;
        :global {
            .fa.fa-spin {
                margin-top: 3px;
                font-size: 30px;
            }
        }
        img {
            height: 100%;
        }
    }
}

.loginForm {
    .loginField {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }
}

@media(max-width: 800px) {
    .container {
        .header {
            .right {
                input[type=search] {
                    display: none;
                }
            }
        }
        .articlesContainer {
            width: 100%;
        }
    }
}