.container {
    margin: 0 auto;
    .header {
        overflow: hidden;
        .top {
            overflow: hidden;
            * {
                float: left;
            }
            img {
                height: 35px;
                width: 35px;
                margin-left: 20px;
                margin-top: 5px;
                margin-right: 10px;
            }
        }
        nav {
            width: 800px;
            margin: 0 auto;
            overflow: hidden;
            line-height: 30px;
            height: 30px;
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: absolute;
                background: #aaa;
                left: 0;
            }
            &::before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: absolute;
                background: #aaa;
                left: 0;
            }
        }
    }
    
    .articlesContainer {
        padding: 20px 0;
        width: 800px;
        margin: 0 auto;
    }
}
