.article {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    a {
        text-decoration: none;
    }
    &:hover {
        .articleTitle {
            color: rgb(9, 119, 245);
        }
    }
    .articleTitle {
        font-size: 24px;
        cursor: pointer;
        color: #000;
        text-overflow: ellipsis;
        word-wrap: none;
        white-space: nowrap;
        width: 80%;
        overflow: hidden;
    }
    .articleInfo {
        >span {
            margin-right: 10px;
            >i {
                margin-right: 5px;
            }
            .articleCategory {
                background: #666;
                color: white;
                padding: 0 20px;
                border-radius: 3px;
                &:hover {
                    cursor: pointer;
                }
            }
            .articleLabel {
                margin-left: 5px;
                border-radius: 3px;
                padding: 0 3px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}